[*.{kt,kts}]
# Official Kotlin Style Guide
ktlint_code_style = ktlint_official

# Indentation
indent_style = space
indent_size = 4
continuation_indent_size = 4

# Line length
max_line_length = 120

# Imports
ij_kotlin_imports_layout = *,java.**,javax.**,kotlin.**,^

# Other formatting
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
